<section>
    <div class="header">
        <h1>Our Latest Blogs</h1>
        <p>There are many variations of passages of Lorem Ipsum available</p>
        <p>but the majority have suffered alteration in some form.</p>
    </div>
    <div class="container">
        <div class="child1">
            <img class="portfolio-img" [src]="portfolio1" alt="">
            <div class="chd-header">
                <h3>Best UI components for <br> modern websites</h3>
            </div>
            <div class="chd-text">
               <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Cras sit amet dictum neque, <br> laoreet dolor.</p> 
            </div>
            <div class="chd-hr">
                <hr>
            </div>
            <div class="chd-profile-parent">
                <div class="chd-profile">
                    <div class="img">
                        <img [src]="profile1" alt="">
                    </div>
                    <div class="txt">
                        <h5>By Samuyl Joshi</h5>
                        <p>Graphic Designer</p>
                    </div>
                </div>
                <div class="txt1">
                    <h5>Date</h5>
                    <p>2025</p>
                </div>
            </div>          
            <div class="horiz-xazi"></div>
            <div class="top-btn">
                <button>Creative</button>
            </div>
        </div>
        <div class="child2">
            <img class="portfolio-img" [src]="portfolio2" alt="">
            <div class="chd-header">
                <h3>9 simple ways to improve your design skills</h3>
            </div>
            <div class="chd-text">
               <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Cras sit amet dictum neque, <br> laoreet dolor.</p> 
            </div>
            <div class="chd-hr">
                <hr>
            </div>
            <div class="chd-profile-parent">
                <div class="chd-profile">
                    <div class="img">
                        <img [src]="profile2" alt="">
                    </div>
                    <div class="txt">
                        <h5>By Musharof Chy</h5>
                        <p>Content Writer</p>
                    </div>
                </div>
                <div class="txt1">
                    <h5>Date</h5>
                    <p>2025</p>
                </div>
            </div>          
            <div class="horiz-xazi"></div>
            <div class="top-btn">
                <button>Computer</button>
            </div>
        </div>
        <div class="child3">
                <img class="portfolio-img" [src]="portfolio3" alt="">
                <div class="chd-header">
                    <h3>Tips to quickly improve your coding speed.</h3>
                </div>
                <div class="chd-text">
                   <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Cras sit amet dictum neque, <br> laoreet dolor.</p> 
                </div>
                <div class="chd-hr">
                    <hr>
                </div>
                <div class="chd-profile-parent">
                    <div class="chd-profile">
                        <div class="img">
                            <img [src]="profile3" alt="">
                        </div>
                        <div class="txt">
                            <h5>By Lethium Deo</h5>
                            <p>Graphic Designer</p>
                        </div>
                    </div>
                    <div class="txt1">
                        <h5>Date</h5>
                        <p>2025</p>
                    </div>
                </div>          
                <div class="horiz-xazi"></div>
                <div class="top-btn">
                    <button>Design</button>
                </div>
            </div>
        </div>
  
</section>

