<section>
    <div class="parent">
        <div class="child1">
            <img [src]="logoo" alt="">
            <div class="text1">
                <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Integer lobortis.</p>
            </div>
            <div class="icons">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
        </div>
        <div class="child2">
            <h2>Useful Links</h2>
            <ul>
                <li>Blog</li>
                <li>Pricing</li>
                <li>About</li>
            </ul>
        </div>
        <div class="child3">
            <h2>Terms</h2>
            <ul>
                <li>TOS</li>
                <li>Privacy Policy</li>
                <li>Refund Policy</li>
            </ul>
        </div>
        <div class="child4">
            <h2>Support & Help</h2>
            <ul>
                <li>Open Support Ticket</li>
                <li>Terms of Use</li>
                <li>About</li>
            </ul>
        </div>
    </div>
</section>
