<section>
    <div class="main1">
        <div class="main1-child1">
            <h1>Free and Open-Source Next.js <br> Template for Startup & SaaS</h1>
            <!-- <h1>Template for Startup & SaaS</h1> -->
        </div>
        <div class="main1-child2">
            <p>Startup is free Next.js template for startups and SaaS business websites comes <br> with all the essential pages, components, and sections you need to launch a <br>complete business website, built-with Next 13.x and Tailwind CSS.</p>
        </div>
        <div class="main1-button">
            <button class="button1">Download Now</button>
            <button class="button2">Star on Github</button>
        </div>
    </div>
</section>


