section{
    height: 651px;
    background-color: #090E34;
    position: relative;
    text-align: center;
    .main1{
        text-align: center;
        font-family: 'Inter', sans-serif;
        height: 400px;
        color: white;
        .main1-child1{
            text-align: center;
            position: absolute;
            top: 112px;
            left: 565px;
            h1{
                font-size: 50px;
            }
        }
        .main1-child2{
            position: absolute;
            top: 255px;
            left: 586px;
            text-align: center;
            p{
                font-size: 18px;
            }
        }
        .main1-button{
            position: absolute;
            
            left: 735px;
            top: 380px;
            .button1{
                border: none;
                padding: 12px 30px;
                border-radius: 5px;
                background-color: #3D59D0;
                color: white;
            }
            .button2{
                border: none;
                padding: 12px 30px;
                border-radius: 5px;
                margin-left: 10px;
                background-color: #535771;
                color: white;
            }
        }
    }
}


@media screen and (max-width: 500px){
    section{
        // width: 500px;
        width: 100%;
        height: 560px;
        margin-left: 0;
        .main1{
            position: relative;
            top: 230px;
            width: 450px;
            height: 200px;
            .main1-child1{
                left: 52px;
                top: -170px;
                h1{
                    font-size: 26px;
                }
            }
            .main1-child2{
                left: 66px;
                top: -56px;
                p{
                    width: 340px;
                    font-size: 15px;
                }
            }
            .main1-button{
                top: 126px;
                left: 133px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 200px;
                gap: 13px;
                .button1{
                    width: 180px;
                    margin-left: 10px;
                }
                .button2{
                    width: 180px;
                }
            }
        }
    }
}