<section>
    <div class="parent">
        <div class="child1">
            <div class="header">
                <h1>Need Help? Open a Ticket</h1>
                <p>Our support team will get back to you ASAP via email.</p>
            </div>
            <div class="input">
                <div class="input1">
                    <label for="">Your name</label>
                    <input placeholder="Enter Your Name" type="text">
                </div>
                <div class="input2">
                    <label for="">Your email</label>
                    <input placeholder="Enter Your email" type="text">
                </div>  
            </div>
            <div class="txtarea">
                <label for="">Your Message</label>
                <textarea placeholder="Enter Your Message" name="" id="" cols="30" rows="10"></textarea>
            </div>
                <div class="btn">
                    <button>Submit Ticket</button>
                </div>
        </div>
        <div class="child2">
            <div class="head">
                <h1>Subscribe to receive future <br> updates</h1>
            </div>
            <div class="p">
                <p>Lorem ipsum dolor sited Sed ullam corper <br> consectur adipiscing Mae ornare massa quis <br> lectus.</p>
            </div>
            <div class="hr">
                <hr>
            </div>
            <div class="forma">
                <input placeholder="Enter Your Name" type="text">
                <input placeholder="Enter Your email" type="text">
            </div>
            <div class="butt">
                <button>Subscribe</button>
            </div>
            <div class="textt">
                <p>No spam guaranteed, So please don't send <br> any spam mail.</p>
            </div>
        </div>
    </div>
</section>
