<section>
    <div class="parent1">
        <h1>Crafted for Startup, SaaS <br> and Business Sites.</h1>
        <div class="paragraph">
        <p>The main thrust is to focus on educating attendees on how to</p>
        <p class="p">best protect highly vulnerable business applications with</p>
        <p class="p">interactive panel discussions and roundtables.</p>
        </div>      
        <div class="child">
            <div class="child1">
                <div class="shvili1">
                    <i class="fa-solid fa-check"></i>
                    <p>Premium quality</p>
                </div>
                <div class="shvili2">
                    <i class="fa-solid fa-check"></i>
                    <p>Tailwind CSS</p>
                </div>
                <div class="shvili3">
                    <i class="fa-solid fa-check"></i>
                    <p>Use for lifetime</p>
                </div>    
            </div>
            
                <div class="child2">
                    <div class="shvili4">
                        <i class="fa-solid fa-check"></i>
                        <p>Premium quality</p>
                    </div>
                    <div class="shvili5">
                        <i class="fa-solid fa-check"></i>
                        <p>Premium quality</p>
                    </div>
                    <div class="shvili6">
                        <i class="fa-solid fa-check"></i>
                        <p>Premium quality</p>
                    </div>
                </div>

            
        </div>
    </div>
    <div class="parent2">
        <img [src]="img" alt="">
    </div>
</section>

<div class="hr">
    <hr>
</div>
    

