<section>
    <div class="forgot-password">
        <div class="logo">
            <i class="fa-sharp fa-solid fa-circle-exclamation"></i>
        </div>
        <div class="text">
            <h1>Forgot Password</h1>
            <p>Enter your email adn we'll send you a link to reset your password</p>
        </div>
        <div class="parent">
            <div class="input">
                <input placeholder="Enter your email" type="text">
            </div>
            <div class="btn">
                <button>Submit</button>
            </div>
        </div>
        
        <div class="back-to-login">
            <p routerLink="/Sign-in">Back to login</p>
        </div>
    </div>
</section>
