<section>
    <div class="container">
        <div class="child1">
            <img [src]="img" alt="">
        </div>
        <div class="child2">
            <div class="text1">
                <h1>Bug free code</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit, sed do eiusmod tempor incididunt ut labore et <br> dolore magna aliqua.</p>
            </div>
            <div class="text2">
                <h1>Premier support</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="text3">
                <h1>Next.js</h1>
                <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor <br> incididunt consectetur adipiscing elit setim.</p>
            </div>
        </div>
    </div>
    
</section>
